@model SSGImpressionConn.Web.DataModel.AppointmentDetail
@{

    Layout = null;
}



<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- SITE META -->
<title>Barber Shop - Hair Salon, Barber Bootstrap Site Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">

<!-- FAVICONS -->
<link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="~/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/images/apple-touch-icon-152x152.png">

<!-- Bootstrap Styles -->
<link href="~/css/bootstrap.css" rel="stylesheet">
<!-- Theme Styles -->
<link href="~/style.css" rel="stylesheet">
<!-- Responsive Styles -->
<link href="~/css/responsive.css" rel="stylesheet">
<!-- Color Styles -->
<link href="~/css/colors.css" rel="stylesheet">
<!-- For Appointment Data Picker Styles -->
<link href="~/css/jquery-ui.css" rel="stylesheet">

<!-- REVOLUTION STYLE SHEETS -->
<link rel="stylesheet" type="text/css" href="~/revolution/css/settings.css">
<!-- REVOLUTION LAYERS STYLES -->
<link rel="stylesheet" type="text/css" href="~/revolution/css/layers.css">
<!-- REVOLUTION NAVIGATION STYLES -->
<link rel="stylesheet" type="text/css" href="~/revolution/css/navigation.css">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- this should go after your </body> -->
<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css" />
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>

<link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />


<style>
    .ui-timepicker-div {
        color: black;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #a45b13 !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #D19404 !important;
    }

    .custombg .appoform .form-control {
        background-color: #ddd !important;
    }
    
        
    
</style>






<!-- PRELOADER -->
<div id="loader">
    <div class="loader-container">
        <img src="~/images/beard-load.gif" alt="" class="loader-site spinner" width="200" height="200">
    </div>
</div>
<!-- END PRELOADER -->

<div id="wrapper">
    <header class="header normal-header white-header">
        <div class="container withbg">
            <nav class="navbar navbar-default yamm">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="~/images/SSGLogo.png" alt="" style="width: 137px;"></a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="megamenu dropdown hasmenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="yamm-content clearfix">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <div class="widget clearfix">
                                                        <div class="widget-title">
                                                            <h4>All Versions</h4>
                                                            <hr>
                                                        </div><!-- end widget-title -->

                                                        <div class="link-widget">
                                                            <ul>
                                                                <li><a href="index.html">Home Default</a></li>
                                                                <li><a href="index-boxed.html">Boxed Version</a></li>
                                                                <li><a href="index-dark.html">Dark Version</a></li>
                                                                <li><a href="index-left.html">Side Navigation</a></li>
                                                                <li><a href="index-onepage.html">Onepage Version</a></li>
                                                                <li><a href="index-shop.html">Shop Version</a></li>
                                                                <li><a href="index-blogging.html">Blogging Version</a></li>
                                                                <li><a href="index-coming-soon.html">Under Construction</a></li>
                                                            </ul><!-- end check -->
                                                        </div><!-- end link-widget -->
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <div class="widget clearfix">
                                                        <div class="widget-title">
                                                            <h4>Special Features</h4>
                                                            <hr>
                                                        </div><!-- end widget-title -->

                                                        <div class="link-widget">
                                                            <ul>
                                                                <li><a href="header-1.html">Header Style 01</a></li>
                                                                <li><a href="header-2.html">Header Style 02</a></li>
                                                                <li><a href="header-3.html">Header Style 03</a></li>
                                                                <li><a href="page-pricing.html">Pricing Tables</a></li>
                                                                <li><a href="page-services.html">Our Services</a></li>
                                                                <li><a href="page-team.html">Team Members</a></li>
                                                                <li><a href="page-testimonials.html">Testimonials</a></li>
                                                                <li><a href="page-faqs.html">FAQ's Page</a></li>

                                                            </ul><!-- end check -->
                                                        </div><!-- end link-widget -->
                                                    </div><!-- end widget -->
                                                </div>

                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <div class="widget clearfix">
                                                        <div class="widget-title">
                                                            <h4>Gallery Pages</h4>
                                                            <hr>
                                                        </div><!-- end widget-title -->

                                                        <div class="link-widget">
                                                            <ul>
                                                                <li><a href="gallery-1.html">Gallery Grid Three</a></li>
                                                                <li><a href="gallery-2.html">Gallery Grid Four</a></li>
                                                                <li><a href="gallery-3.html">Gallery Grid Five</a></li>
                                                                <li><a href="gallery-4.html">Gallery Desc Three</a></li>
                                                                <li><a href="gallery-5.html">Gallery Desc Four</a></li>
                                                                <li><a href="gallery-6.html">Gallery Desc Five</a></li>
                                                                <li><a href="gallery-7.html">Gallery Masonry</a></li>
                                                                <li><a href="gallery-single.html">Gallery Single</a></li>
                                                            </ul><!-- end check -->
                                                        </div><!-- end link-widget -->
                                                    </div><!-- end widget -->
                                                </div>

                                                <div class="col-md-2 col-sm-12 col-xs-12">
                                                    <div class="widget clearfix">
                                                        <div class="widget-title">
                                                            <h4>Shop Pages</h4>
                                                            <hr>
                                                        </div><!-- end widget-title -->

                                                        <div class="link-widget">
                                                            <ul>
                                                                <li><a href="shop.html">Shop Layout</a></li>
                                                                <li><a href="shop-1.html">Shop with Sidebar</a></li>
                                                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                                                <li><a href="shop-cart.html">Shopping Cart</a></li>
                                                                <li><a href="shop-single.html">Shop Single Sidebar</a></li>
                                                                <li><a href="shop-single-fullwidth.html">Shop Single Fullwidth</a></li>
                                                                <li><a href="shop-login.html">Shop Login</a></li>
                                                                <li><a href="shop-account.html">Shop Account</a></li>
                                                            </ul><!-- end check -->
                                                        </div><!-- end link-widget -->
                                                    </div><!-- end widget -->
                                                </div>

                                                <div class="col-md-4 col-sm-12 col-xs-12">
                                                    <div class="widget clearfix">
                                                        <div class="widget-title">
                                                            <h4>Our Beard Models</h4>
                                                            <hr>
                                                        </div><!-- end widget-title -->
                                                        <div class="gallery-widget">
                                                            <div class="row">
                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_01.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_02.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_03.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_04.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_05.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->

                                                                <div class="col-md-4 col-sm-4 col-xs-4">
                                                                    <div class="post-media entry">
                                                                        <img src="upload/gallery_06.jpg" alt="" class="img-responsive">
                                                                        <div class="magnifier">
                                                                            <div class="shop-bottom clearfix">
                                                                                <a href="gallery-single.html" title="Full Preview" class="btn btn-primary"><i class="fa fa-search"></i></a>
                                                                            </div><!-- end shop-bottom -->
                                                                        </div><!-- end magnifier -->
                                                                    </div><!-- end post-media -->
                                                                </div><!-- end col -->
                                                            </div><!-- end row -->
                                                        </div><!-- end gallery widget -->
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown has-submenu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages<span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Submenu <span class="fa fa-angle-right"></span></a>
                                        <ul class="dropdown-menu show-left" role="menu">
                                            <li><a href="#">Submenu 01</a></li>
                                            <li><a href="#">Submenu 02</a></li>
                                            <li><a href="#">Submenu 03</a></li>
                                            <li><a href="#">Submenu 04</a></li>
                                            <li><a href="#">Submenu 05</a></li>
                                            <li><a href="#">Submenu 06</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="page.html">Page Sidebar</a></li>
                                    <li><a href="page-fullwidth.html">Page Fullwidth</a></li>
                                    <li><a href="page-404.html">404 Not Found</a></li>
                                    <li><a href="blog-fullwidth.html">Blog Fullwidth</a></li>
                                    <li><a href="blog.html">Blog Standard</a></li>
                                    <li><a href="single.html">Blog Single</a></li>
                                    <li><a href="single-fullwidth.html">Single Fullwidth</a></li>
                                </ul>
                            </li>
                            <li><a href="about.html" title="">About</a></li>
                            <li><a href="shop.html" title="">Shop</a></li>
                            <li><a href="gallery-5.html" title="">Gallery</a></li>
                            <li><a href="blog.html" title="">Blog</a></li>
                            <li><a href="contact.html" title="">Contact</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <li class="active">@Html.ActionLink("Back To Home", "Index", "Home")</li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav><!-- end nav -->
        </div><!-- end container -->
    </header><!-- end header -->

    <section class="section page-banner">
        <div class="container clearfix">
            <div class="section-title text-left pull-left">
                <h4>Make a reservation today!</h4>
                <h3>APPOINTMENT</h3>
                <hr>
            </div><!-- end title -->
            <div class="pull-right hidden-xs">
                <div class="bread">
                    <ol class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="active">@Html.ActionLink("Appointment", "Appointment", "Home")</li>
                    </ol>
                </div><!-- end bread -->
            </div><!-- /.pull-right -->
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="row first-wrapper">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="big-blog">
                        <div class="post-media entry">
                            <img src="~/images/app_02.jpg" alt="" class="img-responsive img-rounded">
                            <div class="magnifier"></div>
                            <div class="post-visible-title">
                                <ul class="openinghours">
                                    <li><span>MON</span> <small>09:00 - 19:00</small></li>
                                    <li><span>TUE</span> <small>09:00 - 19:00</small></li>
                                    <li><span>WED</span> <small>09:00 - 19:00</small></li>
                                    <li><span>THU</span> <small>09:00 - 19:00</small></li>
                                    <li><span>FRI</span> <small>09:00 - 19:00</small></li>
                                    <li><span>SAT</span> <small>12:00 - 21:00</small></li>
                                    <li><span>SUN</span> <small>Closed</small></li>
                                </ul>
                            </div><!-- end post-visible-title -->
                        </div><!-- end media -->
                    </div><!-- end big-blog -->
                </div><!-- end col -->

                <div class="col-md-8 col-sm-12 col-xs-12 m30">

                    <div class="appoform-wrapper custombg">
                        @using (Html.BeginForm("Appointment", "Home", FormMethod.Post))
                        {
                            <fieldset class="row appoform">
                                <div class="col-md-6 text-center">
                                    <label class="sr-only">Appointment Date</label>
                                    @Html.TextBoxFor(model => model.AppointmentDate, new { type = "date", placeholder = "Appointment time", @class = "form-control" ,required="required"})
                                    @*<input id="datetimepicker" name="AppointmentDate" type="text" placeholder="Appointment time" class="form-control">*@
                                </div>
                                <input type="time" name="AppointmentTime" value="00:00:00" style="display:none" />
                                <div class="col-md-6 text-center">
                                    <label class="sr-only">Appointment time</label>
                                    <select name="AppointTime" class="form-control" required>
                                        @foreach (var item in ViewBag.TimeSlotID)
                                        {
                                            <option value="@item.Value" style="color:red;">@item.Time</option>
                                        }
                                    </select>
                                    @*<input id="datetimepicker" name="AppointmentDate" type="text" placeholder="Appointment time" class="form-control">*@
                                </div>

                                <div class="col-md-6">
                                    <label class="sr-only">Your name</label>
                                    <input type="text" name="Name" placeholder="Your full name *" class="form-control" required>
                                </div>

                                <div class="col-md-6">
                                    <label class="sr-only">Phone number</label>
                                    <input type="number" name="Phone" placeholder="Phone number *" class="form-control" required>
                                </div>

                                <div class="col-md-6">
                                    <label class="sr-only">Email address</label>
                                    <input type="email" name="EmailID" placeholder="Email address *" class="form-control" required>
                                </div>

                                <div class="col-md-6">
                                    <label class="sr-only">Select Barber</label>
                                    @Html.DropDownList("BarberDetailID", null, htmlAttributes: new { @class = "form-control" , required= "required" })
                                    @Html.ValidationMessageFor(model => model.BarberDetailID, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-md-6" style="color:white;">
                                    <label class="sr-only">Select Service</label>
                                    @*<select class="selectpicker form-control" multiple="multiple" data-live-search="true" name="ServiceDetailID">
                                        @foreach (var item in ViewBag.ServiceDetailID)
                                        {
                                            <option value="@item.ID">@item.ServiceName</option>
                                        }
                                    </select>*@
                                    @Html.ListBoxFor(model => model.selectedArrayID, new MultiSelectList(Model.serviceDetails, "ID", "ServiceName"), new { id="MulipleSelectID" , multiple="multiple",@class="form-control", required= "required" })
                                    @Html.ValidationMessageFor(model => model.ServiceDetailID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-12">
                                    <textarea class="form-control"> Add extra notes</textarea>
                                    <button type="submit" class="btn btn-primary btn-block">Make An Appointment</button>
                                </div>
                            </fieldset>
                        }
                    </div><!-- end form-container -->
                </div>
            </div><!-- end row -->
        </div>
    </section><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="logo-title">
                            <img src="~/images/flogo.png" alt="">
                        </div><!-- end widget-title -->
                        <div class="about-widget">
                            <p>
                                Fusce non nulla quis leo lobortis porttitor. Quisque mi egestas nibh porttitor molestie. Nullam ut orci elit. Suspendisse tincidunt dapibu In nibh es posuere.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div><!-- end text-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Working Hourse</h4>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="link-widget">
                            <ul>
                                <li>MON <span>09:00 - 19:00</span></li>
                                <li>TUE <span>09:00 - 19:00</span></li>
                                <li>WED <span>09:00 - 19:00</span></li>
                                <li>THU <span>09:00 - 19:00</span></li>
                                <li>FRI <span>09:00 - 19:00</span></li>
                                <li>WEEKEND <span>CLOSED</span></li>
                            </ul>
                        </div><!-- end text-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Terms & Legal</h4>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Terms of Usage</a></li>
                                <li><a href="#">Copyrights</a></li>
                                <li><a href="#">Sitemap</a></li>
                                <li><a href="#">Customer Login</a></li>
                                <li><a href="#">Cookie Policy</a></li>
                                <li><a href="#">How to Contact</a></li>
                            </ul>
                        </div><!-- end text-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Site Links</h4>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="link-widget">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Appointment</a></li>
                                <li><a href="#">Team Members</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div><!-- end text-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Recent Posts</h4>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="recent-post-widget">
                            <ul class="recent-posts">
                                <li>
                                    <p><a href="single.html" title=""><img src="upload/blog_01.jpg" alt="" class="alignleft">Where You Can Purchase Barber Materials?</a></p>
                                    <span>12 May 2016</span>
                                </li>
                                <li>
                                    <p><a href="single.html" title=""><img src="upload/blog_02.jpg" alt="" class="alignleft">Who is Your Favorite Barber?</a></p>
                                    <span>06 May 2016</span>
                                </li>
                            </ul><!-- end latest-tweet -->
                        </div><!-- end twitter-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div>

        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                        <a class="topbutton dmtop"><i class="fa fa-angle-up"></i></a>
                        <div class="copyright-text">
                            <p>Powered with <a href="">Bootstrap</a> Ideas and Designed by <a href="https://showwp.com" title="Show WP">Show WP</a></p>
                        </div><!-- end copyright-text -->
                        <div class="copyrights-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-reddit"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div><!-- end social -->
                    </div><!-- end widget -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </footer><!-- end footer -->

</div><!-- end wrapper -->
<!-- Main Scripts-->
<script src="~/js/jquery.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/plugins.js"></script>
<!-- MDB -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="bootstrap-multiselect.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>*@
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script>
    jQuery('#datetimepicker').datetimepicker({
        format: 'd.m.Y H:i',
        inline: true,
        lang: 'ru'
    });

    /*$('select').selectpicker();*/
    $("#MulipleSelectID").chosen();


</script>



